<a href="https://colab.research.google.com/github/NKvinibrian/inteligencia-artificail/blob/main/ed-02/tabalho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1) Escreva uma função que receba um número n e retorne o seu fatorial. 
def fatorial(n:int=None):
  if n is None or n <= 1:
    return 1
  return n*fatorial(n-1)

print(fatorial(n=6))

720

In [9]:
# 2) Imprima na tela o fatorial de 0 até 10.
def fatorial(n:int=None, t=1):
  if n is None or t > n:
    return 1
  fat = t*fatorial(n, t+1)
  print(fat)
  return fat

fatorial(n=10)

10
90
720
5040
30240
151200
604800
1814400
3628800
3628800

3628800

In [19]:
# 3) Armazene o fatorial de 0 até 10 em uma lista e imprima a lista usando print
def fatorial(n:int=0): 
    lista = [0]
    if n < 0: 
        return [0]

    elif n == 0:
        lista.append(n)
        return [1]
        
    else: 
        fat = 1
        while(n > 1): 
            fat *= n 
            n -= 1
            lista.append(fat)
        return lista 

fatorial(n=10)

[0, 10, 90, 720, 5040, 30240, 151200, 604800, 1814400, 3628800]

In [23]:
# 4) Imprima a lista de fatoriais de trás para frente.
def fatorial(n:int=0): 
    lista = [0]
    if n < 0: 
        return [0]

    elif n == 0:
        lista.insert(0,n)
        return [1]
        
    else: 
        fat = 1
        while(n > 1): 
            fat *= n 
            n -= 1
            lista.insert(0,fat)
        return lista 

print(*fatorial(n=10))

3628800 1814400 604800 151200 30240 5040 720 90 10 0

In [6]:
# 5) Escreva um programa que leia um valor monetário e indique o número mínimo de moedas que devem ser utilizadas para representa-lo. Por exemplo, se o usuário informar 2.35 a resposta deverá ser 
def troco(n:int=None):
  if n is None:
    return
  
  moedas = [1, 0.50, 0.25, 0.10, 0.01]
  for i in moedas:
    if n<0:
      break
    alt = n / i

    if int(alt) >= 1:
      print(f'{i:10.2f} * {int(alt)}'.replace('.', ','))
      n = n-int(alt)*i
    else:
      print(f'{i:10.2f} * 0'.replace('.', ','))

troco(n=2.35)

      1,00 * 2
      0,50 * 0
      0,25 * 1
      0,10 * 1
      0,01 * 0